{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>Zappy Foods</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="{% static "css/home.css" %}" rel="stylesheet">
    <link href="{% static "css/sticky-footer.css" %}" rel="stylesheet">
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{%url 'zappyapp:home'%}">Zappy Foods</a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="{%url 'zappyapp:home'%}">Home <span class="sr-only">(current)</span></a>
          </li>
          {% if user.is_authenticated is False%}
          <li class="nav-item">
            <a class="nav-link" href="{%url 'zappyapp:registration'%}">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{%url 'login'%}">Log In</a>
          </li>
          {%endif%}
          {% if user.is_authenticated is True%}
          <li class="nav-item">
            <a class="nav-link " href="{%url 'logout' %}">Log Out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{%url 'zappyapp:profile' %}">My Account</a>
          </li>
          {%endif%}
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'zappyapp:search' %}" method="GET">
          <input class="form-control mr-sm-2" type="search" placeholder="Search..." name="q" value="{{request.GET.q}}" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    </header>

    <main role="main">
{%block products%}

{%endblock products%}
    </main>
{%block footer%}
{%endblock footer%}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"><\/script>')</script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
